<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">

    <select id="getUser" resultType="hashmap">
        select * from DDHH_USER_PASS t where umenb = #{id,jdbcType=VARCHAR}
    </select>
<!--    <update id="save" parameterMap="hashmap">-->
<!--        UPDATE DDHH_USER_PASS T SET T.UPASS=#{UPASS,jdbcType=VARCHAR} WHERE T.UPID = #{UPID,jdbcType=INTEGER} AND T.ENABLED=1-->
<!--    </update>-->
</mapper>
